.hero-section {
  position: relative;
  min-height: 100vh;
  margin: 0px 10px;
  border-radius: 20px;
  background: #F8FAFC;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.gradient-text {
  background: linear-gradient(90deg, var(--color-primary),var(--color-font-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-main {
  background: linear-gradient(90deg, var(--color-primary), var(--color-font-primary));
  border: none;
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
}

.btn-main:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
