.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  width: 800px;
  max-width: 95%;
  border-radius: 12px;
  padding: 25px;
  position: relative;
}

.modal-body-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.modal-image-container {
  flex: 1;
}

.modal-image {
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  object-fit: cover;
}

.modal-info {
  flex: 1.2;
}

.modal-info h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.modal-content {
  background: white;
  width: 500px;
  max-width: 90%;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-close {
  position: absolute;
  top: 4px;
  right: 2px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.modal-close i{
  font-size: 20px;
  font-weight: bold;
  padding: 0;
}

.modal-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.fa-solid {
  color: var(--color-accent);
  font-size: 15px;
  padding-right: 15px;
}
@media (max-width: 768px) {
  .modal-body-wrapper {
    flex-direction: column;
  }
  .modal-image {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  object-fit: cover;
}
}