.navbar-logo {
  height: 40px;
  width: auto;
}

.navbar {
  margin: 10px 10px 0px 10px; 
  border-radius: 20px;
  box-shadow: 0px 0px 15px var(--color-secondary);
}
.nav-link{
    color: var(--colo-dark) !important;
    font-weight: 500;
}
